mixin dev_head(page_title)
    head
        title=page_title
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='styles/main_global.css?no_cache', media='all')
        | <!--[if IE]>
        | <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        | <![endif]-->

mixin order_form(id_mod)
    .form_cell.cell_v1
        label.hidden_input(for= id_mod + 'order_name') Имя и фамилия
        .input_w: input.f_input.input_v1(placeholder='Имя и фамилия', id = id_mod + 'order_name')
    
    .form_row.cell_2
        .form_cell.cell_v1
            label.hidden_input(for= id_mod + 'order_phone') Телефон
            .input_w: input.f_input.input_v1(placeholder='Телефон', id = id_mod + 'order_phone')

        .form_cell.cell_v1
            label.hidden_input(for= id_mod + 'order_email') Электронная почта
            .input_w: input.f_input.input_v1(placeholder='Электронная почта', id = id_mod + 'order_email')

    .form_cell.cell_v1
        label.hidden_input(for='order_comments') Комментарии
        .input_w: textarea.f_input.input_v1(placeholder='Комментарии', id = id_mod + 'order_comments')

    .form_tip Выберите полезные услуги для знакомства

    .form_row.cell_2.service_row
        .form_cell.cell_v1
            label.check_emul
                input.hidden_input(type='checkbox')
                span.check_text 
                    span.mb Консультация аудитора — получить ответ 
                        span.text_underline_thin бесплатно
     
        .form_cell.cell_v1
            label.check_emul
                input.hidden_input(type='checkbox')
                span.check_text 
                    span.mb Посетить Круглый стол — повысить квалификацию 10 час ИПБ
     
        .form_cell.cell_v1
            label.check_emul
                input.hidden_input(type='checkbox')
                span.check_text 
                    span.mb Совет юриста по налогам — как лучше исключить риски
     
        .form_cell.cell_v1
            label.check_emul
                input.hidden_input(type='checkbox')
                span.check_text 
                    span.mb Встретиться с&nbsp;аудиторами — узнать варианты решенияпроблем

    .text_center
        button.btn_v2.btn_white_2.order_btn
            span.mb.svg-svg-history--send-dims.svg-svg-history--send.send_icon
            span.mb Отправить
            
mixin service_unit(cls, ind)
    .service_unit(class=cls)
        ul.service_list
            li.service_block
                .service_info
                    .service_switch
                        label.service_check
                            input.hidden_input(type='checkbox')
                            span.check_text

                    .service_switch_caption Получить аудиторское заключение #{ind}
                    p Исполнить тредования законов РФ: 302-ФЗ, 208-ФЗ и другие

                .service_options
                    label.service_check_v2
                        input.hidden_input(type='checkbox')
                        span.check_text Обязательный (финансовый) аудит
                            span.check_green

                    p Это минимальная проверка  бухгалтерской отчетности.РФ: 302-ФЗ, 208-ФЗ и другие. 
                        a.link_red.gl_link.service_option_link(href='service_1.html'): span Подробнее

                    .service_option_price от 95 000
                        span.rub a

                .service_description
                    p Результатом аудита по РСБУ (российским стандартам бухгалтерсокго учета) является аудиторское заключение —  документ, подтверждающий регулятору исполнение закона и подтверждение достоверности бухгалтерской (финансовой) отчетности организации.
                    p Для  руководителей иностранных компаний услуги по  МСФО (международным стандартам финансовой отчетности) и МСА (международным стандартам аудита) позволяют подтвердить финансовые показатели и предоставить в штаб-квартиру или глобальным аудиторам отчетность, подтвержденную заключением независимых аудиторов или формы по МСА.

            li.service_block
                .service_info
                    .service_switch
                        label.service_check
                            input.hidden_input(type='checkbox')
                            span.check_text

                    .service_switch_caption Снизить риски 
                    p и личную ответственность, избежать штрафов.

                .service_description
                    p Независимая аудиторская проверка позволяет регулярно отслеживать финансовые показатели и основные риски, причины возникновения и их динамику, видеть полную картину деятельности компании для принятия взвешенных решений.
                    p Проведение аудита обеспечивает исполнение требований законов, в том числе НК РФ, а значит отсутствие штрафов и оснований для привлечения к ответственности.
                    p Кроме того, заранее найти несоответствия и ошибки в бухгалтерском и налоговом учете позволяет организации самостоятельно их исправить и, следовательно, своевременно исключить возможные риски.

            li.service_block
                .service_info
                    .service_switch
                        label.service_check
                            input.hidden_input(type='checkbox')
                            span.check_text

                    .service_switch_caption Проконтроли-ровать и опти- мизировать
                    p финансовые показатели, затраты, налоги и др. Снизить  налоговые риски и ответственность, избежать штрафов и пеней.

                .service_options
                    label.service_check_v2
                        input.hidden_input(type='checkbox')
                        span.check_text Комплексный аудит
                            span.check_green
                    p Обязательный аудит + налоговый аудит. 
                        a.link_red.gl_link.service_option_link(href='service_1.html'): span Подробнее

                    .service_option_price от 150 000
                        span.rub a

                .service_description
                    p По итогам аудита наша компания предоставляет отдельный отчет для руководства — «Обзор финансового состояния и рисков», где в наглядном, лаконичном виде вы увидите:

                    ul
                        li показатели отчетности и финансового состояния компании;
                        li уровень организации бухгалтерского учета; 
                        li добросовестность сотрудников и возможности для снижения необязательных расходов;
                        li вероятность выездной налоговой проверки по методологии ИФНС; 
                        li заранее выявленные и расчитанные налоговые риски;
                        li зоны возможной экономии на налогах и объемы такой экономии.

                    p Это позволит снизить риски и личную ответственность генерального директора, избежать штрафов и претензий, одновременно уменьшив налоговое бремя компании.

            li.service_block
                .service_info
                    .service_switch
                        label.service_check
                            input.hidden_input(type='checkbox')
                            span.check_text

                    .service_switch_caption Получить кредит
                    p Получить кредит, повысить доверие учредителей.

                .service_options
                    label.service_check_v2
                        input.hidden_input(type='checkbox')
                        span.check_text Инициативный аудит
                            span.check_yellow

                    p Самая гибкая форма аудита. Спросите — мы сделаем. 
                        a.link_red.gl_link.service_option_link(href='service_1.html'): span Подробнее

                    .service_option_price от 55 000
                        span.rub a

                .service_description
                    p Независимое мнение аудиторской компании, входящей в ТОП-25 российского аудита, в форме аудиторского заключения повышает доверие партнеров.
                    p Учредителям, банкам, инвесторам будет проще принять решение в вашу пользу и предоставить средства быстрее  и на более выгодных условиях.

    .text_center
        a.btn_v2.order_btn.btn_red(href='#') Заказать 
        
        
        
mixin price_tab(ind)
    .service_effect_info
        .price_ranges
            table.price_range_table
                tr  
                    td.col_1: b Диапазон цен:
                    td.col_2 150-650 тыс. руб.
                tr
                    td.col_1: b Средняя цена по 2015 году:
                    td.col_2 320 тыс. руб.
            
            .price_caption: b Ваши бонусы: #{ind}
            
            ul.bonus_list
                li.bonus_item.bonus_audit_1c: .mb Аудит 1С
                li.bonus_item.bonus_round_table
                    .mb Участие в нескольких круглых столах
                li.bonus_item.bonus_consult: .mb Бонусные консультации
                    
            a.btn_v2.btn_red.price_order_btn(href='#') ЗАКАЗАТЬ со скидкой 10% 
                    
        .service_effect
            .effect_caption Эффективность аудита
                    
            table.effect_table
                tr
                    td.col_1: b Стоимость аудита
                    td.col_2 250 000  руб.
                tr
                    td.col_1: b Выявлены налоговые резервы на сумму
                    td.col_2 2 500 000 руб.
                tr
                    td.col_1: b Обнаружены налоговые риски на сумму
                    td.col_2 8 500 000 руб.
                tr
                    td.col_1: b Прочие результаты
                    td.col_2 получены рекомендации и гарантии от налоговых юристов
                tr
                    td.col_1: b Коэффициент эффективности
                    td.col_2: span.color_red 4 400%
                    
            a.gl_link.link_red.effect_link(href='#'): span Как была достигнута такая эффективность

    p
        a.gl_link.link_red(href='reviews.html'): span Отзывы клиентов
        |  подтверждают,  что стоимость наших услуг всегда справедлива и обоснована.
    
mixin popups()
    .gl_overlay.closeMenu
    
    #callback_form.popup_form.popup_form_v1( style='display:none;'): form(action='#')
        .form_title Заказать звонок
        .form_inner
            .form_cell.cell_v1
                label.hidden_input(for='callback_order_name') Имя и фамилия
                .input_w: input#callback_order_name.f_input.input_v1(placeholder='Имя и фамилия')
    
            .form_row.cell_2
                .form_cell.cell_v1
                    label.hidden_input(for='callback_order_phone') Телефон
                    .input_w: input#callback_order_phone.f_input.input_v1(placeholder='Телефон')
    
                .form_cell.cell_v1
                    label.hidden_input(for='callback_order_email') Электронная почта
                    .input_w: input#callback_order_email.f_input.input_v1(placeholder='Электронная почта')
    
            .form_cell.cell_v1
                label.hidden_input(for='callback_order_comments') Вопрос
                .input_w: textarea#callback_order_comments.f_input.input_v1(placeholder='Вопрос')
    
            .text_center
                button.btn_v2.btn_white_2.order_btn
                    span.mb.svg-svg-history--send-dims.svg-svg-history--send.send_icon
                    span.mb Отправить
                    
    #order_form.popup_form.popup_form_v1.popup_form_v1_mod_1.color_white_3( style='display:none;'): form(action='#')
        .text_center
            .form_title Заказать и познакомиться
            .block_caption Ваша скидка −10% при обращении с&nbsp;сайта.
        .form_inner
            +order_form('popup_')
                

mixin scripts(index, history, reviews, company, services, contacts, prices)
    //-script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true')
    script(src='js/device.min.js?no_cache')
    script(src='js/jquery1.10.js?no_cache')
    script(src='js/select2.js?no_cache')
    script(src='js/jquery-ui.js?no_cache')
    //script(src='js/dialog.js?no_cache')
    script(src='js/script.js?no_cache')
    - if (index)
        script(src='js/jquery.fullPage.js?no_cache')
        script(src='js/slick.js?no_cache')
        script(src='js/index.js?no_cache')
    - if (history)
        script(src='js/history.js?no_cache')
    - if (reviews)
        script(src='js/reviews.js?no_cache')
    - if (company)
        script(src='js/jquery.fullPage.js?no_cache')
        script(src='js/company.js?no_cache')
    - if (services)
        script(src='js/jquery-ui.js?no_cache')
        script(src='js/services.js?no_cache')
    - if (contacts)
        script(src='http://maps.google.com/maps/api/js?sensor=true')
        script(src='js/contacts.js?no_cache')
    - if (prices)
        script(src='js/prices.js?no_cache')
        //-| <?xml version="1.0" encoding="utf-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol preserveAspectRatio="xMidYMid" viewBox="-34.84 -34.84 292.69 167.91" id="svg-price--contacts-baloon"><defs><style>.acls-1{fill:#951a37;fill-rule:evenodd}</style></defs><path d="M124.31 85c-7.004 8.122-13.04 13.23-13.04 13.23S105.234 93.123 98.232 85H0V0h223v85h-98.69zm-12.28-17.994h1.35v-3.89h4.537v3.89h1.35V58.31h-1.35v3.618h-4.538v-3.62h-1.35v8.698zm-9.242 0h4.61c1.782 0 2.736-1.225 2.736-2.665 0-1.42-.936-2.664-2.737-2.664h-3.258V58.31h-1.352v8.696zm-58.812-1.333h-1.098V54.996h-1.495v10.677H34.36V54.996h-1.493v12.01h9.614v2.215h1.496v-3.547zm9.733-2.916c0-2.61-1.55-4.664-4.178-4.664-2.485 0-4.285 2.035-4.285 4.556 0 2.717 1.854 4.572 4.43 4.572 1.42 0 2.592-.468 3.456-1.332l-.648-.883c-.684.702-1.693 1.1-2.683 1.1-1.873 0-3.025-1.37-3.133-3.008h7.04v-.343zm9.413-4.448h-1.35v3.618h-4.538v-3.62h-1.35v8.698h1.35v-3.89h4.537v3.89h1.35V58.31zm8.16 0h-6.41v1.188h2.52v7.508h1.35v-7.508h2.54v-1.19zm6.028-.217c-1.223 0-2.304.63-2.934 1.513V58.31h-1.35v12.01h1.35v-4.63c.702.974 1.747 1.532 2.935 1.532 2.288 0 3.872-1.765 3.872-4.573 0-2.828-1.584-4.557-3.87-4.557zm12.808 2.935c0-2.107-1.53-2.935-3.367-2.935-1.42 0-2.537.468-3.474 1.44l.63.937c.775-.828 1.62-1.206 2.665-1.206 1.262 0 2.198.666 2.198 1.836v1.567c-.702-.81-1.692-1.19-2.88-1.19-1.477 0-3.044.92-3.044 2.864 0 1.892 1.567 2.882 3.043 2.882 1.17 0 2.16-.414 2.88-1.206v.99h1.35v-5.978zm9.972-2.72h-6.05l-.557 4.287c-.343 2.574-.847 3.51-1.657 3.51v1.117c1.675 0 2.61-1.224 3.007-4.465l.396-3.26h3.51v7.51h1.35v-8.698zM113 12c-6.628 0-12 5.373-12 12 0 2.397.703 4.63 1.915 6.505l7.984 12.35a2.5 2.5 0 0 0 4.202 0l7.983-12.35A11.95 11.95 0 0 0 125 23.998c0-6.627-5.373-12-12-12zm13.574 49.676h-3.26V58.31h-1.35v8.696h4.61c1.783 0 2.737-1.225 2.737-2.665 0-1.42-.935-2.664-2.736-2.664zm5.51-3.367h-1.35v8.696h1.35V58.31zm8.808-3.152a2.95 2.95 0 0 1-2.485 1.297c-1.062 0-1.927-.504-2.503-1.297l-.666.576a3.972 3.972 0 0 0 3.17 1.585c1.295 0 2.43-.613 3.15-1.586l-.666-.576zm1.134 3.15h-1.332l-4.556 6.645V58.31h-1.35v8.696h1.296l4.592-6.77v6.77h1.35V58.31zm11.14-.215c-2.646 0-4.303 2.035-4.303 4.556 0 2.52 1.657 4.572 4.304 4.572 2.646 0 4.303-2.053 4.303-4.573 0-2.522-1.657-4.557-4.303-4.557zm15.36 0c-.99 0-1.855.63-2.36 1.513v-4.61h-1.35v4.628c-.576-.973-1.422-1.53-2.376-1.53-1.837 0-3.133 1.764-3.133 4.573 0 2.826 1.296 4.555 3.133 4.555.99 0 1.872-.63 2.377-1.513v4.61h1.35v-4.63c.558.974 1.404 1.532 2.36 1.532 1.835 0 3.132-1.765 3.132-4.573 0-2.828-1.298-4.557-3.134-4.557zm12.736.216h-1.333l-4.556 6.643V58.31h-1.35v8.696h1.296l4.59-6.77v6.77h1.352V58.31zm6.624.99c.9 0 1.64.342 2.215 1.134l.9-.828c-.665-.865-1.6-1.513-3.186-1.513-2.592 0-4.34 1.98-4.34 4.556 0 2.59 1.748 4.572 4.34 4.572 1.585 0 2.52-.648 3.187-1.513l-.9-.83c-.575.775-1.313 1.136-2.214 1.136-1.854 0-3.007-1.44-3.007-3.367 0-1.928 1.152-3.35 3.006-3.35zm-19.738 6.716c-.81 0-1.62-.65-1.98-1.405v-3.924c.36-.756 1.17-1.386 1.98-1.386 1.35 0 2.142 1.422 2.142 3.35 0 1.925-.792 3.366-2.142 3.366zm-5.33 0c-1.35 0-2.143-1.423-2.143-3.35 0-1.926.793-3.366 2.143-3.366.828 0 1.638.648 2 1.404v3.925c-.362.755-1.172 1.386-2 1.386zm-9.65 0c-1.856 0-2.9-1.585-2.9-3.367 0-1.766 1.044-3.35 2.9-3.35 1.853 0 2.88 1.584 2.88 3.35 0 1.78-1.027 3.366-2.88 3.366zm-26.738-.198h-3.115v-2.953h3.115c.99 0 1.495.63 1.495 1.476 0 .865-.523 1.478-1.495 1.478zM113 40.578l-7.565-11.7a8.964 8.964 0 0 1-1.435-4.88c0-4.962 4.037-8.998 9-8.998 4.962 0 9 4.036 9 9 0 1.738-.496 3.424-1.435 4.876L113 40.58zM113 19a5 5 0 1 0 0 10 5 5 0 0 0 0-10zM113 26c-1.103 0-2-.898-2-2 0-1.103.897-2 2-2s2 .897 2 2c0 1.102-.897 2-2 2zM86.373 66.25c-1.26 0-2.142-.793-2.142-1.89 0-1.117.883-1.91 2.143-1.91.955 0 1.873.36 2.395 1.08v1.64c-.522.72-1.44 1.08-2.395 1.08zm-9.404-.234c-1.064 0-2.126-.65-2.594-1.405v-3.924c.468-.756 1.53-1.386 2.593-1.386 1.745 0 2.79 1.422 2.79 3.35 0 1.925-1.045 3.366-2.79 3.366zM49.513 59.21c1.98 0 2.845 1.602 2.863 2.898H46.67c.07-1.332.99-2.898 2.844-2.898zm59.234 5.13c0 .865-.522 1.478-1.495 1.478h-3.114v-2.953h3.113c.99 0 1.495.63 1.495 1.476z" class="acls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 42 36" id="svg-price--contacts-mail"><defs><style>.bcls-1{fill:#951a37;fill-rule:evenodd}</style></defs><path d="M2 0a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm27 3v.785L16 14.693 3 3.785V3h26zM3 23V7.7l11.714 9.83a2 2 0 0 0 2.57 0L29 7.7V23H3z" class="bcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 42 42" id="svg-price--contacts-phone"><defs><style>.ccls-1{fill:#951a37;fill-rule:evenodd}</style></defs><path d="M23.516 32a7.31 7.31 0 0 1-2.45-.42C11.29 28.12 3.55 20.18.357 10.327A7.352 7.352 0 0 1 2.89 2.225l1.577-1.202A4.952 4.952 0 0 1 7.497 0c1.88 0 3.586 1.04 4.448 2.717l2.666 5.18a3.486 3.486 0 0 1-.535 3.96l-.553.604a1.95 1.95 0 0 0-.3 2.212 9.447 9.447 0 0 0 4.094 4.088c.71.368 1.626.243 2.212-.297l.606-.554c1.052-.968 2.692-1.19 3.962-.537l5.184 2.663A4.98 4.98 0 0 1 32 24.482c0 1.32-.51 2.567-1.443 3.51l-1.805 1.824A7.403 7.403 0 0 1 23.516 32zM7.496 2.998c-.44 0-.86.14-1.208.407L4.71 4.608a4.353 4.353 0 0 0-1.498 4.797c2.908 8.968 9.956 16.2 18.854 19.348 1.56.553 3.393.13 4.55-1.043l1.805-1.825a1.995 1.995 0 0 0-.513-3.183l-5.182-2.663c-.21-.108-.464-.014-.562.076l-.605.556c-1.493 1.37-3.812 1.683-5.616.753a12.417 12.417 0 0 1-5.385-5.38 4.96 4.96 0 0 1 .754-5.612l.554-.603a.49.49 0 0 0 .08-.562l-2.667-5.18a1.994 1.994 0 0 0-1.78-1.09z" class="ccls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 28 28" id="svg-price--contacts-print"><defs><style>.dcls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M17 15.03h-3V18H4v-2.97H1a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h3V0h10v4.03h3a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1zm-11 1h6v-4H6v4zm6-14H5.97v2H12v-2zm4 4H2v7h2v-3h10v3h2v-7zm-4 1h2v2h-2v-2z" class="dcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 24 28" id="svg-price--contacts-rekviziti"><defs><style>.ecls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M13 18H1a1 1 0 0 1-1-1V3.967a1 1 0 0 1 1-1h2V.498a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2.47h2a1 1 0 0 1 1 1v13.03a1 1 0 0 1-1 1zM9 2H5v2h4V2zm3 3h-1v.5a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5V5H2v11h10V5zm-2 5H4V8h6v2zm0 3H4v-2h6v2z" class="ecls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 41 41" id="svg-price--contacts-time"><defs><style>.fcls-1{fill:#951a37;fill-rule:evenodd}</style></defs><path d="M15.5 31C6.94 31 0 24.06 0 15.5 0 6.94 6.94 0 15.5 0 24.06 0 31 6.94 31 15.5 31 24.06 24.06 31 15.5 31zm0-28C8.607 3 3 8.607 3 15.5 3 22.392 8.607 28 15.5 28 22.392 28 28 22.392 28 15.5 28 8.607 22.392 3 15.5 3zm7 14H14V7.5a1.5 1.5 0 0 1 3 0V14h5.5a1.5 1.5 0 0 1 0 3z" class="fcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 32.81 32.81" id="svg-price--price-arrow"><defs><style>.gcls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M11.413 22.826h-.002l-.212-.002a11.343 11.343 0 0 1-8.016-3.492 11.34 11.34 0 0 1-3.197-8.135C.098 5.017 5.217-.015 11.4-.015h.214c6.295.114 11.324 5.33 11.213 11.63-.117 6.18-5.235 11.21-11.414 11.21zM11.598.808H11.4C5.664.807.91 5.475.804 11.213a10.542 10.542 0 0 0 2.97 7.55 10.534 10.534 0 0 0 7.44 3.24h.198c5.737 0 10.493-4.667 10.596-10.407C22.11 5.753 17.44.912 11.598.807zm-.29 16.417a.413.413 0 0 1-.296-.124.412.412 0 0 1 .01-.58l4.79-4.624-9.823-.177a.41.41 0 0 1 .007-.823h.006l9.83.18-4.625-4.796a.412.412 0 0 1 .01-.578.413.413 0 0 1 .582.01l5.306 5.507h.002l.283.295-5.798 5.595a.402.402 0 0 1-.285.115z" class="gcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 40.69 40.75" id="svg-price--price-audit"><defs><style>.hcls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M16.012 15.986l-.026.03a7.898 7.898 0 0 1-5.6 2.32 7.894 7.894 0 0 1-5.6-2.32 7.895 7.895 0 0 1-2.32-5.6c0-2.186.887-4.167 2.32-5.6v-.002a7.896 7.896 0 0 1 5.6-2.32c2.186 0 4.167.888 5.6 2.32v.002a7.897 7.897 0 0 1 2.32 5.6c0 2.17-.877 4.14-2.294 5.57zM15.31 5.493h-.003a6.942 6.942 0 0 0-4.922-2.038c-1.922 0-3.663.78-4.922 2.037a6.944 6.944 0 0 0-2.037 4.923c0 1.922.78 3.663 2.038 4.92a6.94 6.94 0 0 0 4.92 2.04c1.923 0 3.663-.78 4.922-2.04l.024-.02a6.937 6.937 0 0 0 2.015-4.9 6.94 6.94 0 0 0-2.036-4.922zm-4.925.442a4.436 4.436 0 0 0-2.5.762l-.025.015A4.55 4.55 0 0 0 6.255 8.67c-.114.27-.203.557-.263.852-.056.28-.087.58-.087.893a.48.48 0 0 1-.96 0 5.536 5.536 0 0 1 .43-2.116A5.452 5.452 0 0 1 7.32 5.922l.028-.02a5.465 5.465 0 0 1 3.037-.927.48.48 0 0 1 0 .96zM30.2 30.23v.002a1.715 1.715 0 0 1-1.216.503c-.44 0-.88-.167-1.215-.502h-.002l-2.63-2.63-2.63-2.63-2.63-2.632h-.002a1.718 1.718 0 0 1-.5-1.216c0-.282.093-.553.23-.808l-2.225-2.226a10.37 10.37 0 0 1-14.35-.32 10.366 10.366 0 0 1-3.045-7.355C-.015 7.755 1 5.09 3.03 3.06l.002.002A10.37 10.37 0 0 1 10.385.015c2.66 0 5.323 1.015 7.354 3.046a10.353 10.353 0 0 1 2.96 6.036 10.406 10.406 0 0 1-1.356 6.602.478.478 0 1 1-.824-.487 9.46 9.46 0 0 0 1.23-5.994 9.4 9.4 0 0 0-2.69-5.476A9.413 9.413 0 0 0 10.385.975c-2.417 0-4.834.92-6.675 2.763v.002a9.41 9.41 0 0 0-2.764 6.675c0 2.415.92 4.832 2.764 6.675a9.41 9.41 0 0 0 6.675 2.765c2.415 0 4.83-.92 6.673-2.76 0-.002 0-.004.002-.005a.48.48 0 0 1 .68 0l2.547 2.547c.254-.137.524-.23.806-.23.44 0 .88.167 1.214.502h.002l2.63 2.628 2.63 2.63L30.2 27.8a1.72 1.72 0 0 1 0 2.43zm-.678-1.75l-2.63-2.63-2.632-2.632-2.63-2.63v-.002a.764.764 0 0 0-1.073 0v.002h-.002a.762.762 0 0 0 0 1.073v.002l2.63 2.63 2.632 2.63 2.63 2.63v.002c.147.147.342.22.537.22a.76.76 0 0 0 .537-.22h.002a.76.76 0 0 0 .22-.538.754.754 0 0 0-.22-.536z" class="hcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 40.94 41.44" id="svg-price--price-bonus"><defs><style>.icls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M30.08 28.09h-.002c-.43.43-.988.727-1.61.83l-.002 2.04a.478.478 0 0 1-.776.373L24.724 29H9.91c-.797 0-1.524-.362-2.058-.88l-.034-.03a2.953 2.953 0 0 1-.87-2.09v-7.54a.48.48 0 0 1 .962 0V26c0 .548.226 1.05.588 1.41l.022.025c.36.347.852.603 1.39.603h14.978a.48.48 0 0 1 .338.14l2.284 1.787V28.48a.48.48 0 0 1 .48-.48V28c.548 0 1.05-.224 1.41-.587.362-.36.588-.862.588-1.41V14.96c0-.55-.226-1.05-.587-1.412l-.02-.025a2.006 2.006 0 0 0-1.39-.563h-2.48a.48.48 0 0 1 0-.96h2.48c.796 0 1.522.32 2.056.837l.034.03a2.95 2.95 0 0 1 .87 2.092V26a2.95 2.95 0 0 1-.87 2.09zM11.77 18.038h14.88a.48.48 0 0 1 0 .96H11.77a.482.482 0 0 1 0-.96zm0 6h10.54a.48.48 0 0 1 0 .96H11.77a.48.48 0 0 1 0-.96zm0-3h14.88a.48.48 0 0 1 0 .96H11.77a.482.482 0 0 1 0-.96zm10.276-5.917a2.95 2.95 0 0 1-2.057.84H6.353l-2.966 2.373a.477.477 0 0 1-.776-.373H2.61v-2.04c-.622-.102-1.322-.402-1.75-.83H.857A2.952 2.952 0 0 1-.012 13V2.96c0-.814.334-1.556.87-2.09L.892.84l.645.03A.48.48 0 0 0 .892.84 2.95 2.95 0 0 1 2.95 0h17.04c.813 0 1.555.334 2.09.87a2.95 2.95 0 0 1 .87 2.09V13c0 .815-.334 1.555-.87 2.09l-.034.03zm-.058-12.16c0-.548-.226-1.05-.587-1.41a1.996 1.996 0 0 0-1.41-.59H2.95a2.01 2.01 0 0 0-1.39.564l-.023.025C1.175 1.91.95 2.41.95 2.96V13c0 .548.225 1.05.587 1.41v.002c.36.36.996.583 1.54.587h.013a.48.48 0 0 1 .48.48v1.483l2.282-1.826A.484.484 0 0 1 6.19 15h13.8c.537 0 1.028-.218 1.39-.565l.02-.024A2 2 0 0 0 21.99 13V2.96zM19.21 8.998H4.33a.48.48 0 0 1 0-.96h14.88a.48.48 0 0 1 0 .96zm0-3H4.33a.48.48 0 0 1 0-.96h14.88a.48.48 0 0 1 0 .96zm-14.88 5.04h10.54a.48.48 0 0 1 0 .96H4.33a.48.48 0 0 1 0-.96z" class="icls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 23.78 17.78" id="svg-price--price-dropdown"><defs><style>.jcls-1{fill:#676b6d;fill-rule:evenodd}</style></defs><path d="M12.01.282a1.044 1.044 0 0 1 1.467 0c.405.4.405 1.05 0 1.453L7.615 7.48c-.405.4-1.063.4-1.468 0L.285 1.735a1.02 1.02 0 0 1 0-1.453 1.045 1.045 0 0 1 1.468 0L6.88 4.99l5.13-4.71z" class="jcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 40.75 38.25" id="svg-price--price-tables"><defs><style>.kcls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M28.778 26.288a6.662 6.662 0 0 1-4.723 1.957 6.662 6.662 0 0 1-4.724-1.957 6.66 6.66 0 0 1-1.955-4.723c0-1.845.748-3.515 1.956-4.724a6.66 6.66 0 0 1 4.725-1.955 6.66 6.66 0 0 1 4.723 1.956 6.664 6.664 0 0 1 1.957 4.725c0 1.844-.75 3.515-1.957 4.723zm-.68-8.768a5.7 5.7 0 0 0-4.043-1.675c-1.58 0-3.01.64-4.045 1.675a5.704 5.704 0 0 0-1.675 4.045 5.7 5.7 0 0 0 1.675 4.044 5.706 5.706 0 0 0 4.045 1.674c1.58 0 3.01-.64 4.044-1.675a5.706 5.706 0 0 0 1.674-4.045c0-1.58-.64-3.01-1.675-4.045zm-.13 6.855a4.847 4.847 0 0 1-1.718 1.48 4.794 4.794 0 0 1-4.39 0 4.838 4.838 0 0 1-1.72-1.48.48.48 0 0 1-.065-.432c.12-.353.283-.685.48-.983h.002c.2-.3.44-.576.712-.817a.478.478 0 0 1 .64-.006 3.233 3.233 0 0 0 2.145.807 3.214 3.214 0 0 0 2.133-.8.478.478 0 0 1 .643-.007c.265.232.5.5.698.79l.024.033c.2.3.363.63.482.982h-.002a.48.48 0 0 1-.064.433zm-1.214-.882l-.02-.03a3.324 3.324 0 0 0-.256-.33 4.186 4.186 0 0 1-4.848 0 3.32 3.32 0 0 0-.276.358v.003c-.11.166-.205.34-.283.523.335.407.75.745 1.224.987a3.862 3.862 0 0 0 1.76.422c.637 0 1.236-.154 1.76-.422.473-.242.888-.58 1.223-.987a3.177 3.177 0 0 0-.283-.523zm-1.046-2.135a2.335 2.335 0 0 1-3.308 0 2.333 2.333 0 0 1-.686-1.653c0-.646.263-1.233.686-1.655a2.334 2.334 0 0 1 3.276-.03l.033.03c.422.422.684 1.01.684 1.655 0 .646-.262 1.23-.685 1.654l-.002-.002zm-.678-2.63l-.025-.025a1.374 1.374 0 0 0-.95-.378c-.38 0-.727.154-.976.404a1.375 1.375 0 0 0 .976 2.356 1.38 1.38 0 0 0 .975-2.356zm-5.196-5.37l.303.522.304.52a.48.48 0 0 1-.83.48l-.302-.52-.303-.52a.48.48 0 0 1 .174-.656.482.482 0 0 1 .654.175zm-4.46.007a6.66 6.66 0 0 1-4.723-1.957 6.66 6.66 0 0 1-1.955-4.724 6.66 6.66 0 0 1 1.927-4.692l.03-.03A6.66 6.66 0 0 1 15.373.004a6.66 6.66 0 0 1 4.724 1.956v.002a6.66 6.66 0 0 1 1.956 4.722 6.66 6.66 0 0 1-1.956 4.724 6.662 6.662 0 0 1-4.724 1.957zM19.42 2.64A5.705 5.705 0 0 0 15.373.964c-1.58 0-3.01.64-4.044 1.674l-.025.023a5.706 5.706 0 0 0-1.65 4.02c0 1.58.64 3.01 1.675 4.046a5.706 5.706 0 0 0 4.044 1.674c1.58 0 3.01-.64 4.045-1.675a5.706 5.706 0 0 0 1.674-4.046c0-1.58-.64-3.01-1.674-4.045zm-.132 6.855a4.847 4.847 0 0 1-1.718 1.48 4.798 4.798 0 0 1-4.39 0 4.838 4.838 0 0 1-1.72-1.48.478.478 0 0 1-.065-.432 4.19 4.19 0 0 1 1.203-1.808.48.48 0 0 1 .634.002c.29.255.628.462.997.6.35.134.738.207 1.144.207a3.24 3.24 0 0 0 1.146-.206c.365-.138.7-.34.99-.594a.48.48 0 0 1 .642-.007c.263.232.5.5.698.79l.023.034c.198.298.362.63.48.983a.476.476 0 0 1-.065.432zm-1.213-.882l-.02-.03a3.163 3.163 0 0 0-.256-.33 4.204 4.204 0 0 1-2.426.772 4.178 4.178 0 0 1-2.423-.772 3.2 3.2 0 0 0-.56.883c.336.407.752.746 1.224.988a3.86 3.86 0 0 0 1.76.42c.637 0 1.236-.152 1.76-.42a3.86 3.86 0 0 0 1.224-.987 3.347 3.347 0 0 0-.283-.523zm-2.7-1.448a2.335 2.335 0 0 1-1.656-.686 2.34 2.34 0 0 1 3.31-3.31c.422.423.684 1.01.684 1.655a2.33 2.33 0 0 1-.685 1.654 2.334 2.334 0 0 1-1.656.685zm.975-3.316a1.372 1.372 0 0 0-.976-.405c-.38 0-.726.154-.975.404a1.375 1.375 0 0 0 0 1.95 1.376 1.376 0 0 0 1.95 0 1.38 1.38 0 0 0 0-1.95zm-5.212 11.03a.48.48 0 0 1-.83-.48l.304-.52.304-.52a.48.48 0 0 1 .654-.176.48.48 0 0 1 .175.655l-.304.52-.302.52zm2.237 6.685a6.66 6.66 0 0 1-1.956 4.723 6.662 6.662 0 0 1-4.725 1.957 6.662 6.662 0 0 1-4.724-1.957 6.66 6.66 0 0 1-1.955-4.723c0-1.845.748-3.515 1.956-4.724a6.66 6.66 0 0 1 4.725-1.955 6.66 6.66 0 0 1 4.724 1.956 6.663 6.663 0 0 1 1.955 4.725zm-6.68-5.72c-1.58 0-3.01.64-4.044 1.675a5.705 5.705 0 0 0-1.675 4.045c0 1.58.64 3.01 1.676 4.044a5.702 5.702 0 0 0 4.045 1.674c1.58 0 3.01-.64 4.044-1.675a5.702 5.702 0 0 0 1.675-4.045c0-1.58-.64-3.01-1.676-4.045a5.698 5.698 0 0 0-4.045-1.675zm3.913 8.53a4.835 4.835 0 0 1-1.717 1.48 4.8 4.8 0 0 1-4.39 0 4.847 4.847 0 0 1-1.72-1.48.48.48 0 0 1-.065-.432c.12-.353.283-.685.482-.983.2-.3.442-.576.712-.817a.478.478 0 0 1 .64-.006 3.244 3.244 0 0 0 4.28.007.478.478 0 0 1 .642-.007 4.205 4.205 0 0 1 1.202 1.806.48.48 0 0 1-.066.432zm-1.213-.885a3.31 3.31 0 0 0-.276-.358 4.23 4.23 0 0 1-.942.502 4.214 4.214 0 0 1-2.967 0 4.2 4.2 0 0 1-.94-.502c-.1.113-.192.233-.275.36a3.23 3.23 0 0 0-.284.524c.336.407.752.745 1.224.987a3.865 3.865 0 0 0 1.76.422 3.86 3.86 0 0 0 2.985-1.41 3.415 3.415 0 0 0-.285-.525zm-1.047-2.132a2.333 2.333 0 0 1-3.308 0 2.332 2.332 0 0 1-.685-1.653c0-.646.262-1.233.685-1.655a2.334 2.334 0 0 1 3.277-.03l.032.03c.422.422.685 1.01.685 1.655 0 .646-.263 1.23-.686 1.654l-.002-.002zm-.678-2.63l-.024-.025a1.375 1.375 0 0 0-.95-.378 1.375 1.375 0 0 0-1.38 1.38 1.38 1.38 0 0 0 2.354.977c.25-.25.404-.596.404-.977 0-.38-.154-.727-.404-.976zm7.084 2.357h1.24a.48.48 0 0 1 0 .96h-1.24a.48.48 0 0 1 0-.96z" class="kcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 34 34" id="svg-price--servicefull-check"><defs><style>.lcls-1{fill:#961a32;fill-rule:evenodd}</style></defs><path d="M12 24C5.383 24 0 18.617 0 12S5.383 0 12 0s12 5.383 12 12-5.383 12-12 12zm0-22C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-.248 14.66a.998.998 0 0 1-1.377.12l-5-4a1 1 0 1 1 1.25-1.56l4.252 3.402 6.37-7.28a1 1 0 1 1 1.505 1.316l-7 8z" class="lcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-9.37 -9.37 78.75 74.75" id="svg-price--servicefull-step1"><defs><style>.mcls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M56.28 56H3.72A3.723 3.723 0 0 1 0 52.28V3.72C0 1.667 1.668 0 3.72 0h52.56C58.333 0 60 1.668 60 3.72v48.56c0 2.052-1.668 3.72-3.72 3.72zM58 3.72A1.72 1.72 0 0 0 56.28 2H3.72C2.77 2 2 2.77 2 3.72v48.56C2 53.23 2.77 54 3.72 54h52.56c.948 0 1.72-.772 1.72-1.72V3.72zM53 18H7a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h46a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM52 8H8v8h44V8zM20.293 9.293a1 1 0 0 1 1.414 0L23 10.586l1.293-1.293a1 1 0 1 1 1.414 1.414L24.414 12l1.293 1.293a1 1 0 1 1-1.414 1.414L23 13.414l-1.293 1.293a.997.997 0 0 1-1.414 0 1 1 0 0 1 0-1.414L21.586 12l-1.293-1.293a1 1 0 0 1 0-1.414zm8 0a1 1 0 0 1 1.414 0L31 10.586l1.293-1.293a1 1 0 1 1 1.414 1.414L32.414 12l1.293 1.293a1 1 0 1 1-1.414 1.414L31 13.414l-1.293 1.293a.997.997 0 0 1-1.414 0 1 1 0 0 1 0-1.414L29.586 12l-1.293-1.293a1 1 0 0 1 0-1.414zm8 0a1 1 0 0 1 1.414 0L39 10.586l1.293-1.293a1 1 0 1 1 1.414 1.414L40.414 12l1.293 1.293a1 1 0 1 1-1.414 1.414L39 13.414l-1.293 1.293a.997.997 0 0 1-1.414 0 1 1 0 0 1 0-1.414L37.586 12l-1.293-1.293a1 1 0 0 1 0-1.414zm8 0a1 1 0 0 1 1.414 0L47 10.586l1.293-1.293a1 1 0 1 1 1.414 1.414L48.414 12l1.293 1.293a1 1 0 1 1-1.414 1.414L47 13.414l-1.293 1.293a.997.997 0 0 1-1.414 0 1 1 0 0 1 0-1.414L45.586 12l-1.293-1.293a1 1 0 0 1 0-1.414zM10 22c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm0 4c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm0 4c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm10-26c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm0 4c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm0 4c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm10-26c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm0 4c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm0 4c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm0 6c1.102 0 2-.898 2-2 0-1.103-.898-2-2-2-1.103 0-2 .897-2 2 0 1.102.897 2 2 2zm8-26h14a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H38a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1zm1 6h12v-4H39v4zm-1 5h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H38a1 1 0 0 1-1-1V34a1 1 0 0 1 1-1zm1 14h12V35H39v12z" class="mcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-9.06 -9.06 76.13 75.13" id="svg-price--servicefull-step2"><defs><style>.ncls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M48.29 54H9.71C4.357 54 0 49.643 0 44.29V9.71C0 4.357 4.356 0 9.71 0h38.58C53.643 0 58 4.356 58 9.71v34.58c0 5.353-4.356 9.71-9.71 9.71zM56 9.71C56 5.46 52.54 2 48.29 2H30v10a1 1 0 0 1-2 0V2H9.71C5.46 2 2 5.46 2 9.71v34.58C2 48.54 5.46 52 9.71 52H28V42a1 1 0 0 1 2 0v10h18.29c4.25 0 7.71-3.46 7.71-7.71V9.71zM48 48c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm0-6c-1.103 0-2 .897-2 2 0 1.102.897 2 2 2 1.102 0 2-.898 2-2 0-1.103-.898-2-2-2zm-10.515-6.515c-.01.01-.02.012-.03.02A11.96 11.96 0 0 1 29 39c-3.3 0-6.29-1.34-8.462-3.5-.007-.007-.016-.01-.022-.016-.007-.006-.01-.016-.016-.022A11.966 11.966 0 0 1 17 27c0-3.3 1.34-6.29 3.5-8.46.007-.008.01-.018.016-.025.006-.007.016-.01.023-.015A11.957 11.957 0 0 1 29 15a11.96 11.96 0 0 1 8.454 3.494c.01.01.022.01.03.02.01.01.013.022.022.032A11.956 11.956 0 0 1 41 27a11.96 11.96 0 0 1-3.494 8.455c-.01.01-.012.02-.02.03zM36 26h2.948c-.2-2.007-1.022-3.82-2.234-5.3l-2.057 2.057a.997.997 0 0 1-1.414 0 1 1 0 0 1 0-1.414l2.057-2.058c-1.48-1.212-3.293-2.034-5.3-2.234V20a1 1 0 0 1-2 0v-2.95c-2.007.2-3.82 1.023-5.3 2.235l2.057 2.058a1 1 0 0 1-1.414 1.414L21.286 20.7c-1.212 1.48-2.034 3.293-2.235 5.3H22a1 1 0 0 1 0 2h-2.95c.202 2.007 1.024 3.82 2.235 5.3l2.058-2.058a1 1 0 0 1 1.414 1.414L22.7 34.714c1.48 1.213 3.293 2.035 5.3 2.235V34a1 1 0 0 1 2 0v2.95c2.007-.2 3.82-1.023 5.3-2.236l-2.057-2.057a1 1 0 1 1 1.414-1.414l2.057 2.057c1.212-1.48 2.034-3.293 2.234-5.3H36a1 1 0 0 1 0-2zm-7 6c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5zm0-8c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3zM10 48c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4zm0-6c-1.103 0-2 .897-2 2 0 1.102.897 2 2 2 1.102 0 2-.898 2-2 0-1.103-.898-2-2-2zM7 55h11a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2zm32 0h11a1 1 0 0 1 0 2H39a1 1 0 0 1 0-2z" class="ncls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-8.75 -8.75 73.5 73.5" id="svg-price--servicefull-step3"><defs><style>.ocls-1{fill:#000;fill-rule:evenodd}</style></defs><path d="M38 56H0V0h56v56H38zM18 2H2v52h16V2zm18 0H20v52h16V2zm18 0H38v52h16V2zm-2 24H40V4h12v22zM50 6h-8v18h8V6zm-4 33c3.31 0 6 2.69 6 6 0 3.308-2.69 6-6 6s-6-2.692-6-6c0-3.31 2.69-6 6-6zm0 10c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zM34 26H22V4h12v22zM32 6h-8v18h8V6zm-4 33c3.31 0 6 2.69 6 6 0 3.308-2.69 6-6 6s-6-2.692-6-6c0-3.31 2.69-6 6-6zm0 10c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zM16 26H4V4h12v22zM14 6H6v18h8V6zm-4 33c3.31 0 6 2.69 6 6 0 3.308-2.69 6-6 6s-6-2.692-6-6c0-3.31 2.69-6 6-6zm0 10c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4z" class="ocls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-7.81 -7.81 65.63 65.63" id="svg-price--services-all"><defs><style>.pcls-1{fill:#961a32;fill-rule:evenodd}</style></defs><path d="M40 50H10C4.477 50 0 45.523 0 40V10C0 4.477 4.477 0 10 0h30c5.523 0 10 4.477 10 10v30c0 5.523-4.477 10-10 10zm8-40c0-4.41-3.59-8-8-8H10c-4.41 0-8 3.59-8 8v30c0 4.41 3.59 8 8 8h30c4.41 0 8-3.59 8-8V10zm-8.75 27H22a1 1 0 0 1 0-2h17.25a1 1 0 0 1 0 2zm0-11H22a1 1 0 0 1 0-2h17.25a1 1 0 0 1 0 2zm0-11H22a1 1 0 0 1 0-2h17.25a1 1 0 0 1 0 2zM17 40h-6a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1zm-1-6h-4v4h4v-4zm1-5h-6a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1zm-1-6h-4v4h4v-4zm1-5h-6a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1zm-1-6h-4v4h4v-4z" class="pcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-7.81 -7.81 65.63 65.63" id="svg-price--services-all-white"><defs><style>.qcls-1{fill:#fff;fill-rule:evenodd}</style></defs><path d="M40 50H10C4.477 50 0 45.523 0 40V10C0 4.477 4.477 0 10 0h30c5.523 0 10 4.477 10 10v30c0 5.523-4.477 10-10 10zm8-40c0-4.41-3.59-8-8-8H10c-4.41 0-8 3.59-8 8v30c0 4.41 3.59 8 8 8h30c4.41 0 8-3.59 8-8V10zm-8.75 27H22a1 1 0 0 1 0-2h17.25a1 1 0 0 1 0 2zm0-11H22a1 1 0 0 1 0-2h17.25a1 1 0 0 1 0 2zm0-11H22a1 1 0 0 1 0-2h17.25a1 1 0 0 1 0 2zM17 40h-6a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1zm-1-6h-4v4h4v-4zm1-5h-6a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1zm-1-6h-4v4h4v-4zm1-5h-6a1 1 0 0 1-1-1v-6a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1zm-1-6h-4v4h4v-4z" class="qcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-5 -5 37 37" id="svg-price--services-checkbox"><defs><style>.rcls-1{fill:#961a32;fill-rule:evenodd}</style></defs><path d="M24 27H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3h21a3 3 0 0 1 3 3v21a3 3 0 0 1-3 3zm1-24c0-.55-.45-1-1-1H3c-.55 0-1 .45-1 1v21c0 .55.45 1 1 1h21c.55 0 1-.45 1-1V3zM14.027 18.4a1.1 1.1 0 0 1-1.517.135L7.505 14.53a1.1 1.1 0 1 1 1.376-1.72l4.183 3.347 6.314-7.216a1.102 1.102 0 0 1 1.658 1.45l-7.008 8.01z" class="rcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-8.96 -8.96 75.26 74.01" id="svg-price--services-findir"><defs><style>.scls-1{fill:#1a9551;fill-rule:evenodd}</style></defs><path d="M48.178 47.227c3.873 1.075 6.517 2.825 7.747 3.772 1.59 1.222 1.43 4.072 1.405 4.393-.03.392-.355.612-.748.612h-19.68a.637.637 0 0 1-.306.083h-22.47a.75.75 0 0 1-.748-.695c-.024-.32-.186-3.17 1.404-4.394 1.232-.948 3.877-2.698 7.747-3.773 2.81-.78 5.714-1.817 6.838-2.23v-3.52l-.03-.034c-.02-.005-.037-.003-.055-.01-6.158-2.497-10.138-8.382-10.138-14.992 0-8.924 7.307-16.185 16.287-16.185 8.98 0 16.287 7.26 16.287 16.186 0 6.52-3.906 12.375-9.95 14.915-.064.027-.13.03-.195.04-.04.037-.073.08-.113.117-.042.04-.082.067-.123.105v3.38c1.123.413 4.028 1.45 6.838 2.23zm-17.31-1.83a9.635 9.635 0 0 0 4.564 1.144c1.574 0 3.1-.382 4.407-1.057v-2.69c-1.797 1.178-3.313 1.4-4.158 1.4a4.72 4.72 0 0 1-.25-.006c-.784.038-2.502-.105-4.564-1.51v2.72zm-15.17 6.79c-.596.458-.784 1.01-.825 1.817h21.723c.007 0 .013.01.02.01l19.22-.01c-.042-.807-.23-1.36-.825-1.816-1.144-.88-3.605-2.508-7.233-3.516-2.66-.74-5.395-1.7-6.686-2.168-1.633.982-3.618 1.537-5.658 1.537-2.065 0-4.076-.565-5.72-1.57-1.25.455-4.058 1.445-6.782 2.202-3.625 1.007-6.088 2.635-7.233 3.516zm34.52-25.746c0-8.097-6.632-14.685-14.786-14.685-8.153 0-14.787 6.588-14.787 14.686 0 4.88 2.393 9.325 6.297 12.033-1.272-2.015-1.933-3.915-2.135-4.568-.583-.512-2.22-2.154-2.22-4.48 0-2.232 1.916-3.82 2.79-4.427-.046-.772.014-2.256.96-3.39.794-.952 1.998-1.434 3.58-1.434 2.576 0 3.32.455 4.026 1.05.32.27.53.45 1.503.466.944-.017 1.156-.196 1.476-.466.705-.595 1.45-1.05 4.027-1.05 1.58 0 2.784.482 3.577 1.433.947 1.135 1.007 2.62.96 3.39.875.61 2.79 2.196 2.79 4.43 0 2.324-1.636 3.966-2.22 4.478-.2.65-.86 2.543-2.124 4.552A14.627 14.627 0 0 0 50.22 26.44zm-5.54 6.837c.044-.158.14-.3.27-.4.016-.01 1.83-1.435 1.83-3.45 0-1.415-1.286-2.557-1.996-3.083.15.227.266.513.305.706.075.37.113.743.113 1.11 0 2.842-2.13 5.154-4.747 5.154-2.62 0-4.748-2.312-4.748-5.153 0-.082.02-.167.025-.25h-.474c.004.083.026.168.026.25 0 2.842-2.13 5.154-4.748 5.154-2.62 0-4.75-2.312-4.75-5.153 0-.364.04-.738.115-1.11a.745.745 0 0 1 .54-.567c.137-.228.327-.47.54-.47h9.387c.06-.04.12-.022.186-.022l7.753.022a.747.747 0 0 1-.35-.768c.002-.014.277-1.656-.586-2.682-.495-.59-1.31-.888-2.42-.888-2.235 0-2.655.354-3.06.697-.533.45-1.05.795-2.444.82-1.42-.025-1.938-.37-2.47-.82-.406-.342-.826-.696-3.06-.696-1.112 0-1.926.3-2.42.888-.864 1.026-.59 2.668-.587 2.684a.752.752 0 0 1-.367.783c-.023.012-2.456 1.44-2.456 3.396 0 2.016 1.813 3.44 1.832 3.454.128.1.223.24.266.397.01.043 1.205 4.293 4.243 7.14 2.296 2.155 4.222 2.316 4.956 2.27h.092c.738.045 2.662-.116 4.958-2.27 3.038-2.847 4.23-7.097 4.242-7.14zM43.7 28.16c0-.07-.002-.108-.005-.18H37.21c-.003.072-.005.11-.005.18 0 2.015 1.457 3.654 3.248 3.654 1.79 0 3.247-1.64 3.247-3.653zm-9.918 0c0-.07-.002-.108-.006-.18H27.29c-.003.072-.005.11-.005.18 0 2.015 1.458 3.654 3.25 3.654 1.79 0 3.247-1.64 3.247-3.653zm-16.497-3.866c-1.01.31-2.06.47-3.12.47-5.84 0-10.59-4.753-10.59-10.593s4.75-10.59 10.59-10.59c4.943 0 9.293 3.503 10.344 8.33a.75.75 0 0 1-1.467.32c-.902-4.143-4.636-7.15-8.878-7.15-5.013 0-9.092 4.078-9.092 9.09 0 5.014 4.08 9.093 9.092 9.093a9.08 9.08 0 0 0 2.678-.402.75.75 0 1 1 .442 1.434zM11.21 9.73a.75.75 0 0 1 .75-.75h3.783c1.58 0 2.865 1.07 2.865 2.735 0 1.664-1.285 2.643-2.865 2.643H12.73v1.31h2.95a.75.75 0 0 1 .75.75c0 .415-.337.5-.75.5h-2.95v1.908a.75.75 0 0 1-1.5 0V16.92h-1.19c-.413 0-.75-.087-.75-.5a.75.75 0 0 1 .75-.75h1.19v-1.312h-1.215a.75.75 0 0 1-.75-.75c0-.415.336-.594.75-.594h1.215V9.83c-.005-.035-.02-.065-.02-.1zm1.52 3.284h3.013c.753 0 1.365-.462 1.365-1.3 0-.835-.612-1.516-1.365-1.516H12.73v2.816zm13.497-2.204a6.264 6.264 0 0 0-.23-.134c-.397-.227-.85-.484-1.05-.97-.203-.49-.066-.995.056-1.44.032-.116.08-.292.098-.41-.11-.043-.29-.09-.407-.12-.445-.116-.95-.248-1.27-.666-.323-.42-.32-.942-.32-1.402.002-.122.003-.306-.01-.424-.118-.013-.3-.012-.424-.012-.46.005-.983.005-1.403-.317-.418-.322-.55-.826-.666-1.27a4.404 4.404 0 0 0-.12-.41c-.118.02-.293.067-.41.1-.445.12-.95.258-1.44.055-.485-.202-.742-.653-.97-1.05a4.643 4.643 0 0 0-.223-.367c-.108.05-.263.14-.367.2-.4.234-.85.5-1.38.43-.52-.067-.884-.436-1.205-.76a4.28 4.28 0 0 0-.32-.302c-.095.076-.23.213-.32.303-.32.324-.685.693-1.204.76-.528.07-.98-.196-1.38-.43-.103-.06-.258-.15-.366-.2a4.37 4.37 0 0 0-.225.366c-.227.397-.485.848-.97 1.05-.49.203-.994.065-1.44-.057-.116-.03-.292-.08-.41-.098-.042.112-.09.29-.12.41-.116.443-.248.948-.666 1.27-.42.32-.936.32-1.402.316-.122 0-.306 0-.425.013a4.58 4.58 0 0 0-.01.424c0 .46.004.983-.318 1.402-.323.417-.827.55-1.272.665-.118.03-.297.077-.41.12.02.118.068.294.1.41.12.446.258.95.056 1.44-.202.486-.653.743-1.05.97-.108.06-.27.153-.367.224.048.107.14.263.2.367.234.4.5.85.43 1.38-.068.518-.436.883-.76 1.204-.09.09-.228.226-.302.32.074.096.21.23.3.32.326.322.694.687.762 1.206.07.527-.196.98-.43 1.38-.06.103-.152.26-.2.367.097.07.258.163.365.224.398.227.85.484 1.05.97.204.49.066.993-.055 1.438a4.3 4.3 0 0 0-.098.41c.11.044.29.09.408.122.444.116.95.248 1.27.666.322.42.32.94.317 1.402 0 .122 0 .305.012.424.118.012.302.012.424.01.462-.002.984-.004 1.403.318.418.32.55.826.666 1.27.03.12.077.297.12.41a4.21 4.21 0 0 0 .41-.1c.446-.12.95-.257 1.44-.055.485.2.742.653.97 1.05.06.108.152.27.223.367.108-.05.264-.14.368-.2.4-.235.852-.5 1.38-.43.52.067.884.435 1.206.76.09.09.224.227.32.302.095-.075.23-.212.32-.302.32-.325.685-.693 1.204-.76.334-.044.64.046.92.177a.75.75 0 0 1 .952.723l.005.237a.748.748 0 0 1-1.123.662l-.13-.076a3.463 3.463 0 0 0-.424-.224 3.45 3.45 0 0 0-.34.316c-.344.348-.773.782-1.385.782-.61 0-1.04-.434-1.385-.782a3.326 3.326 0 0 0-.34-.315c-.107.04-.3.152-.422.224-.418.245-.938.55-1.52.394-.588-.157-.89-.686-1.132-1.11a3.48 3.48 0 0 0-.248-.397c-.114.01-.327.07-.463.106-.47.128-1.053.288-1.575-.015-.525-.303-.68-.89-.802-1.363a3.572 3.572 0 0 0-.138-.45c-.112-.018-.332-.017-.472-.017-.49.003-1.093.006-1.52-.422-.428-.427-.425-1.034-.423-1.52 0-.14.002-.36-.018-.472-.103-.048-.314-.103-.448-.138-.474-.123-1.062-.277-1.365-.802-.302-.522-.143-1.106-.015-1.575.037-.135.095-.35.105-.462-.087-.072-.276-.18-.395-.248-.426-.242-.955-.544-1.112-1.132-.156-.58.15-1.102.395-1.52.07-.122.184-.315.223-.423-.065-.09-.218-.242-.315-.338C.433 15.21 0 14.782 0 14.17c0-.61.434-1.04.783-1.385.098-.096.25-.247.316-.338-.04-.108-.152-.3-.223-.423-.245-.42-.55-.94-.395-1.52.157-.59.687-.89 1.112-1.132.12-.07.31-.176.395-.248-.01-.114-.068-.328-.105-.463-.128-.468-.287-1.053.015-1.575.304-.525.892-.678 1.364-.802.134-.035.345-.09.448-.137.02-.112.02-.332.018-.47-.002-.49-.005-1.095.422-1.523.428-.428 1.035-.423 1.52-.422.142.002.36.003.473-.016.048-.103.104-.315.14-.45.122-.472.276-1.06.8-1.363.523-.3 1.107-.142 1.576-.014.135.037.35.095.462.106a3.48 3.48 0 0 0 .248-.396C9.61 1.17 9.91.64 10.498.484c.58-.155 1.102.15 1.52.395.123.07.315.183.423.222.093-.065.244-.218.34-.315.345-.35.774-.782 1.385-.782.612 0 1.04.433 1.386.782.097.097.248.25.34.315.107-.04.3-.15.422-.223.418-.246.938-.55 1.52-.396.59.157.89.687 1.133 1.112.068.12.175.31.247.396.114-.01.328-.07.463-.105.47-.13 1.053-.288 1.575.015.526.303.68.89.802 1.364.035.134.09.346.138.448.112.02.332.02.47.018.49 0 1.095-.005 1.522.422.428.428.425 1.034.423 1.52 0 .14-.002.36.017.473.103.047.315.102.45.138.47.123 1.06.276 1.363.8.302.524.143 1.107.015 1.576-.037.137-.096.35-.105.464.087.073.276.18.396.25.094.052.186.105.274.16a.75.75 0 0 1-.787 1.276z" class="scls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-8.96 -8.96 75.26 74.01" id="svg-price--services-findir-white"><defs><style>.tcls-1{fill:#fff;fill-rule:evenodd}</style></defs><path d="M48.178 47.227c3.873 1.075 6.517 2.825 7.747 3.772 1.59 1.222 1.43 4.072 1.405 4.393-.03.392-.355.612-.748.612h-19.68a.637.637 0 0 1-.306.083h-22.47a.75.75 0 0 1-.748-.695c-.024-.32-.186-3.17 1.404-4.394 1.232-.948 3.877-2.698 7.747-3.773 2.81-.78 5.714-1.817 6.838-2.23v-3.52l-.03-.034c-.02-.005-.037-.003-.055-.01-6.158-2.497-10.138-8.382-10.138-14.992 0-8.924 7.307-16.185 16.287-16.185 8.98 0 16.287 7.26 16.287 16.186 0 6.52-3.906 12.375-9.95 14.915-.064.027-.13.03-.195.04-.04.037-.073.08-.113.117-.042.04-.082.067-.123.105v3.38c1.123.413 4.028 1.45 6.838 2.23zm-17.31-1.83a9.635 9.635 0 0 0 4.564 1.144c1.574 0 3.1-.382 4.407-1.057v-2.69c-1.797 1.178-3.313 1.4-4.158 1.4a4.72 4.72 0 0 1-.25-.006c-.784.038-2.502-.105-4.564-1.51v2.72zm-15.17 6.79c-.596.458-.784 1.01-.825 1.817h21.723c.007 0 .013.01.02.01l19.22-.01c-.042-.807-.23-1.36-.825-1.816-1.144-.88-3.605-2.508-7.233-3.516-2.66-.74-5.395-1.7-6.686-2.168-1.633.982-3.618 1.537-5.658 1.537-2.065 0-4.076-.565-5.72-1.57-1.25.455-4.058 1.445-6.782 2.202-3.625 1.007-6.088 2.635-7.233 3.516zm34.52-25.746c0-8.097-6.632-14.685-14.786-14.685-8.153 0-14.787 6.588-14.787 14.686 0 4.88 2.393 9.325 6.297 12.033-1.272-2.015-1.933-3.915-2.135-4.568-.583-.512-2.22-2.154-2.22-4.48 0-2.232 1.916-3.82 2.79-4.427-.046-.772.014-2.256.96-3.39.794-.952 1.998-1.434 3.58-1.434 2.576 0 3.32.455 4.026 1.05.32.27.53.45 1.503.466.944-.017 1.156-.196 1.476-.466.705-.595 1.45-1.05 4.027-1.05 1.58 0 2.784.482 3.577 1.433.947 1.135 1.007 2.62.96 3.39.875.61 2.79 2.196 2.79 4.43 0 2.324-1.636 3.966-2.22 4.478-.2.65-.86 2.543-2.124 4.552A14.627 14.627 0 0 0 50.22 26.44zm-5.54 6.837c.044-.158.14-.3.27-.4.016-.01 1.83-1.435 1.83-3.45 0-1.415-1.286-2.557-1.996-3.083.15.227.266.513.305.706.075.37.113.743.113 1.11 0 2.842-2.13 5.154-4.747 5.154-2.62 0-4.748-2.312-4.748-5.153 0-.082.02-.167.025-.25h-.474c.004.083.026.168.026.25 0 2.842-2.13 5.154-4.748 5.154-2.62 0-4.75-2.312-4.75-5.153 0-.364.04-.738.115-1.11a.745.745 0 0 1 .54-.567c.137-.228.327-.47.54-.47h9.387c.06-.04.12-.022.186-.022l7.753.022a.747.747 0 0 1-.35-.768c.002-.014.277-1.656-.586-2.682-.495-.59-1.31-.888-2.42-.888-2.235 0-2.655.354-3.06.697-.533.45-1.05.795-2.444.82-1.42-.025-1.938-.37-2.47-.82-.406-.342-.826-.696-3.06-.696-1.112 0-1.926.3-2.42.888-.864 1.026-.59 2.668-.587 2.684a.752.752 0 0 1-.367.783c-.023.012-2.456 1.44-2.456 3.396 0 2.016 1.813 3.44 1.832 3.454.128.1.223.24.266.397.01.043 1.205 4.293 4.243 7.14 2.296 2.155 4.222 2.316 4.956 2.27h.092c.738.045 2.662-.116 4.958-2.27 3.038-2.847 4.23-7.097 4.242-7.14zM43.7 28.16c0-.07-.002-.108-.005-.18H37.21c-.003.072-.005.11-.005.18 0 2.015 1.457 3.654 3.248 3.654 1.79 0 3.247-1.64 3.247-3.653zm-9.918 0c0-.07-.002-.108-.006-.18H27.29c-.003.072-.005.11-.005.18 0 2.015 1.458 3.654 3.25 3.654 1.79 0 3.247-1.64 3.247-3.653zm-16.497-3.866c-1.01.31-2.06.47-3.12.47-5.84 0-10.59-4.753-10.59-10.593s4.75-10.59 10.59-10.59c4.943 0 9.293 3.503 10.344 8.33a.75.75 0 0 1-1.467.32c-.902-4.143-4.636-7.15-8.878-7.15-5.013 0-9.092 4.078-9.092 9.09 0 5.014 4.08 9.093 9.092 9.093a9.08 9.08 0 0 0 2.678-.402.75.75 0 1 1 .442 1.434zM11.21 9.73a.75.75 0 0 1 .75-.75h3.783c1.58 0 2.865 1.07 2.865 2.735 0 1.664-1.285 2.643-2.865 2.643H12.73v1.31h2.95a.75.75 0 0 1 .75.75c0 .415-.337.5-.75.5h-2.95v1.908a.75.75 0 0 1-1.5 0V16.92h-1.19c-.413 0-.75-.087-.75-.5a.75.75 0 0 1 .75-.75h1.19v-1.312h-1.215a.75.75 0 0 1-.75-.75c0-.415.336-.594.75-.594h1.215V9.83c-.005-.035-.02-.065-.02-.1zm1.52 3.284h3.013c.753 0 1.365-.462 1.365-1.3 0-.835-.612-1.516-1.365-1.516H12.73v2.816zm13.497-2.204a6.264 6.264 0 0 0-.23-.134c-.397-.227-.85-.484-1.05-.97-.203-.49-.066-.995.056-1.44.032-.116.08-.292.098-.41-.11-.043-.29-.09-.407-.12-.445-.116-.95-.248-1.27-.666-.323-.42-.32-.942-.32-1.402.002-.122.003-.306-.01-.424-.118-.013-.3-.012-.424-.012-.46.005-.983.005-1.403-.317-.418-.322-.55-.826-.666-1.27a4.404 4.404 0 0 0-.12-.41c-.118.02-.293.067-.41.1-.445.12-.95.258-1.44.055-.485-.202-.742-.653-.97-1.05a4.643 4.643 0 0 0-.223-.367c-.108.05-.263.14-.367.2-.4.234-.85.5-1.38.43-.52-.067-.884-.436-1.205-.76a4.28 4.28 0 0 0-.32-.302c-.095.076-.23.213-.32.303-.32.324-.685.693-1.204.76-.528.07-.98-.196-1.38-.43-.103-.06-.258-.15-.366-.2a4.37 4.37 0 0 0-.225.366c-.227.397-.485.848-.97 1.05-.49.203-.994.065-1.44-.057-.116-.03-.292-.08-.41-.098-.042.112-.09.29-.12.41-.116.443-.248.948-.666 1.27-.42.32-.936.32-1.402.316-.122 0-.306 0-.425.013a4.58 4.58 0 0 0-.01.424c0 .46.004.983-.318 1.402-.323.417-.827.55-1.272.665-.118.03-.297.077-.41.12.02.118.068.294.1.41.12.446.258.95.056 1.44-.202.486-.653.743-1.05.97-.108.06-.27.153-.367.224.048.107.14.263.2.367.234.4.5.85.43 1.38-.068.518-.436.883-.76 1.204-.09.09-.228.226-.302.32.074.096.21.23.3.32.326.322.694.687.762 1.206.07.527-.196.98-.43 1.38-.06.103-.152.26-.2.367.097.07.258.163.365.224.398.227.85.484 1.05.97.204.49.066.993-.055 1.438a4.3 4.3 0 0 0-.098.41c.11.044.29.09.408.122.444.116.95.248 1.27.666.322.42.32.94.317 1.402 0 .122 0 .305.012.424.118.012.302.012.424.01.462-.002.984-.004 1.403.318.418.32.55.826.666 1.27.03.12.077.297.12.41a4.21 4.21 0 0 0 .41-.1c.446-.12.95-.257 1.44-.055.485.2.742.653.97 1.05.06.108.152.27.223.367.108-.05.264-.14.368-.2.4-.235.852-.5 1.38-.43.52.067.884.435 1.206.76.09.09.224.227.32.302.095-.075.23-.212.32-.302.32-.325.685-.693 1.204-.76.334-.044.64.046.92.177a.75.75 0 0 1 .952.723l.005.237a.748.748 0 0 1-1.123.662l-.13-.076a3.463 3.463 0 0 0-.424-.224 3.45 3.45 0 0 0-.34.316c-.344.348-.773.782-1.385.782-.61 0-1.04-.434-1.385-.782a3.326 3.326 0 0 0-.34-.315c-.107.04-.3.152-.422.224-.418.245-.938.55-1.52.394-.588-.157-.89-.686-1.132-1.11a3.48 3.48 0 0 0-.248-.397c-.114.01-.327.07-.463.106-.47.128-1.053.288-1.575-.015-.525-.303-.68-.89-.802-1.363a3.572 3.572 0 0 0-.138-.45c-.112-.018-.332-.017-.472-.017-.49.003-1.093.006-1.52-.422-.428-.427-.425-1.034-.423-1.52 0-.14.002-.36-.018-.472-.103-.048-.314-.103-.448-.138-.474-.123-1.062-.277-1.365-.802-.302-.522-.143-1.106-.015-1.575.037-.135.095-.35.105-.462-.087-.072-.276-.18-.395-.248-.426-.242-.955-.544-1.112-1.132-.156-.58.15-1.102.395-1.52.07-.122.184-.315.223-.423-.065-.09-.218-.242-.315-.338C.433 15.21 0 14.782 0 14.17c0-.61.434-1.04.783-1.385.098-.096.25-.247.316-.338-.04-.108-.152-.3-.223-.423-.245-.42-.55-.94-.395-1.52.157-.59.687-.89 1.112-1.132.12-.07.31-.176.395-.248-.01-.114-.068-.328-.105-.463-.128-.468-.287-1.053.015-1.575.304-.525.892-.678 1.364-.802.134-.035.345-.09.448-.137.02-.112.02-.332.018-.47-.002-.49-.005-1.095.422-1.523.428-.428 1.035-.423 1.52-.422.142.002.36.003.473-.016.048-.103.104-.315.14-.45.122-.472.276-1.06.8-1.363.523-.3 1.107-.142 1.576-.014.135.037.35.095.462.106a3.48 3.48 0 0 0 .248-.396C9.61 1.17 9.91.64 10.498.484c.58-.155 1.102.15 1.52.395.123.07.315.183.423.222.093-.065.244-.218.34-.315.345-.35.774-.782 1.385-.782.612 0 1.04.433 1.386.782.097.097.248.25.34.315.107-.04.3-.15.422-.223.418-.246.938-.55 1.52-.396.59.157.89.687 1.133 1.112.068.12.175.31.247.396.114-.01.328-.07.463-.105.47-.13 1.053-.288 1.575.015.526.303.68.89.802 1.364.035.134.09.346.138.448.112.02.332.02.47.018.49 0 1.095-.005 1.522.422.428.428.425 1.034.423 1.52 0 .14-.002.36.017.473.103.047.315.102.45.138.47.123 1.06.276 1.363.8.302.524.143 1.107.015 1.576-.037.137-.096.35-.105.464.087.073.276.18.396.25.094.052.186.105.274.16a.75.75 0 0 1-.787 1.276z" class="tcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-8.91 -8.91 74.81 73.66" id="svg-price--services-gendir"><defs><style>.ucls-1{fill:#07336c;fill-rule:evenodd}</style></defs><path d="M55.754 55.837H10.766c-.414 0-.75-.398-.75-.813V49.32a.75.75 0 0 1 .098-.37c.1-.176 2.54-4.325 5.963-5.63 2.713-1.032 7.973-2.252 9.746-2.65v-4.594c0-.122.036-.233.088-.335a48.585 48.585 0 0 1-4.26-5.702c-.22-.284-1.435-1.94-1.435-3.87 0-1.577.8-2.638 1.268-3.123-.125-1.657-.3-8.09 4.142-11.527.02-.016.04-.03.062-.043 2.203-1.377 4.52-2.076 6.888-2.076 3.665 0 6.35 1.665 7.168 2.24.105-.007.232-.012.376-.012 1.144 0 3.897.357 4.723 3.662.82 3.278-.32 5.767-.776 6.584l.16.806c.997.384 2.32 1.39 2.32 3.336 0 2.243-1.474 3.6-1.993 4.01-.344.674-1.7 3.216-3.557 5.21-.13.14-.256.28-.383.418a.734.734 0 0 1 .146.422v4.477a.73.73 0 0 1 .228.168c1.954.443 6.91 1.607 9.518 2.6 3.423 1.305 6.3 5.454 6.4 5.63a.76.76 0 0 1 .098.37v5.704c0 .415-.836.813-1.25.813zm-22.858-7.09l-1.4 5.09h4.212l-1.4-5.09a.752.752 0 0 1 .202-.736l1.262-1.223-.977-1.76H32.41l-.978 1.76 1.263 1.224a.75.75 0 0 1 .2.738zm6.364-7.674V37.09c-1.51 1.517-3.25 2.804-5.95 2.818a3.417 3.417 0 0 1-.346.015c-.886 0-3.17-.286-5.64-2.687v3.59l4.927 2.7h3.034l3.976-2.453zm-22.65 3.65c-2.565.978-4.137 4.058-4.594 4.803v4.31h17.926l1.39-5.058-1.356-1.315a.75.75 0 0 1-.134-.902l1.126-2.026-4.508-2.47c-1.296.29-7.074 1.602-9.85 2.66zM32.576 10.9c-2.07 0-4.11.614-6.06 1.827-2.313 1.808-3.15 4.67-3.434 6.957.84-.993 2.164-1.826 4.2-1.992.756-.062 1.462-.107 2.12-.15 3.267-.21 5.238-.34 6.876-1.968 1.335-1.328 1.975-2.37 2.26-2.93-.956-.6-3.146-1.745-5.96-1.745zm10.813 4.754c-.46-1.84-1.715-2.4-2.83-2.505.108.875.402 2.958.91 4.537.36 1.12 1.08 2.11 1.622 2.75.39-.966.828-2.663.298-4.783zm-.1 13.548a.736.736 0 0 1 .26-.295c.057-.04 1.5-1.046 1.5-2.89 0-1.61-1.458-1.98-1.624-2.018a.758.758 0 0 1-.578-.587l-.26-1.302c-.5-.495-1.926-2.034-2.546-3.963-.392-1.22-.658-2.665-.822-3.74a15.522 15.522 0 0 1-1.884 2.23c-2.037 2.027-4.344 2.176-7.837 2.402-.65.04-1.347.086-2.096.147-3.91.32-4.076 3.513-4.08 3.648a.734.734 0 0 1-.334.58c-.022.203-.1.396-.266.523-.037.03-1.005.81-1.005 2.23 0 1.526 1.12 2.953 1.132 2.967.02.025.038.05.054.077.025.037 2.364 3.79 5.25 6.748 2.167 2.223 4.09 2.463 4.814 2.463.114 0 .184-.006.203-.01.03-.002.07-.005.1-.005 2.79 0 4.31-1.66 6.068-3.58.186-.203.374-.408.565-.613 1.963-2.11 3.375-4.984 3.39-5.013zm11.716 20.324c-.456-.744-2.465-3.825-5.032-4.803-2.608-.994-7.865-2.212-9.566-2.595l-4.1 2.53 1.057 1.903a.75.75 0 0 1-.134.903l-1.357 1.315 1.39 5.06h17.74v-4.312zM18.83 20.796H6.37c-.414 0-.75-.65-.75-1.063 0-.414.336-.937.75-.937h12.46c.413 0 .75.523.75.937 0 .414-.337 1.063-.75 1.063zM5.62 11.858c0-.414.336-1.062.75-1.062h15.042c.414 0 .75.648.75 1.062 0 .415-.336.938-.75.938H6.37c-.414 0-.75-.523-.75-.938zm13.875 4.938H6.37c-.414 0-.75-.586-.75-1 0-.415.336-1 .75-1h13.125c.414 0 .75.648.75 1.062 0 .414-.336.938-.75.938zm7.5-8.055a.75.75 0 0 1-.75-.75v-.424a.75.75 0 0 0-.75-.75H2.745a.752.752 0 0 0-.75.75V23.94c0 .415.337.876.75.876h15.018c.414 0 .75.773.75 1.188a.75.75 0 0 1-.75.75H2.245c-1.24 0-2.25-1.572-2.25-2.813V7.067c0-1.24 1.01-2.25 2.25-2.25h6.52a6.03 6.03 0 0 1 5.897-4.81 6.03 6.03 0 0 1 5.898 4.81h4.935c1.24 0 2.25 1.01 2.25 2.25v.925a.75.75 0 0 1-.75.75zM14.662 1.506c-2.07 0-3.802 1.408-4.335 3.31h8.67c-.532-1.902-2.264-3.31-4.335-3.31z" class="ucls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-8.91 -8.91 74.81 73.66" id="svg-price--services-gendir-white"><defs><style>.vcls-1{fill:#fff;fill-rule:evenodd}</style></defs><path d="M55.754 55.837H10.766c-.414 0-.75-.398-.75-.813V49.32a.75.75 0 0 1 .098-.37c.1-.176 2.54-4.325 5.963-5.63 2.713-1.032 7.973-2.252 9.746-2.65v-4.594c0-.122.036-.233.088-.335a48.585 48.585 0 0 1-4.26-5.702c-.22-.284-1.435-1.94-1.435-3.87 0-1.577.8-2.638 1.268-3.123-.125-1.657-.3-8.09 4.142-11.527.02-.016.04-.03.062-.043 2.203-1.377 4.52-2.076 6.888-2.076 3.665 0 6.35 1.665 7.168 2.24.105-.007.232-.012.376-.012 1.144 0 3.897.357 4.723 3.662.82 3.278-.32 5.767-.776 6.584l.16.806c.997.384 2.32 1.39 2.32 3.336 0 2.243-1.474 3.6-1.993 4.01-.344.674-1.7 3.216-3.557 5.21-.13.14-.256.28-.383.418a.734.734 0 0 1 .146.422v4.477a.73.73 0 0 1 .228.168c1.954.443 6.91 1.607 9.518 2.6 3.423 1.305 6.3 5.454 6.4 5.63a.76.76 0 0 1 .098.37v5.704c0 .415-.836.813-1.25.813zm-22.858-7.09l-1.4 5.09h4.212l-1.4-5.09a.752.752 0 0 1 .202-.736l1.262-1.223-.977-1.76H32.41l-.978 1.76 1.263 1.224a.75.75 0 0 1 .2.738zm6.364-7.674V37.09c-1.51 1.517-3.25 2.804-5.95 2.818a3.417 3.417 0 0 1-.346.015c-.886 0-3.17-.286-5.64-2.687v3.59l4.927 2.7h3.034l3.976-2.453zm-22.65 3.65c-2.565.978-4.137 4.058-4.594 4.803v4.31h17.926l1.39-5.058-1.356-1.315a.75.75 0 0 1-.134-.902l1.126-2.026-4.508-2.47c-1.296.29-7.074 1.602-9.85 2.66zM32.576 10.9c-2.07 0-4.11.614-6.06 1.827-2.313 1.808-3.15 4.67-3.434 6.957.84-.993 2.164-1.826 4.2-1.992.756-.062 1.462-.107 2.12-.15 3.267-.21 5.238-.34 6.876-1.968 1.335-1.328 1.975-2.37 2.26-2.93-.956-.6-3.146-1.745-5.96-1.745zm10.813 4.754c-.46-1.84-1.715-2.4-2.83-2.505.108.875.402 2.958.91 4.537.36 1.12 1.08 2.11 1.622 2.75.39-.966.828-2.663.298-4.783zm-.1 13.548a.736.736 0 0 1 .26-.295c.057-.04 1.5-1.046 1.5-2.89 0-1.61-1.458-1.98-1.624-2.018a.758.758 0 0 1-.578-.587l-.26-1.302c-.5-.495-1.926-2.034-2.546-3.963-.392-1.22-.658-2.665-.822-3.74a15.522 15.522 0 0 1-1.884 2.23c-2.037 2.027-4.344 2.176-7.837 2.402-.65.04-1.347.086-2.096.147-3.91.32-4.076 3.513-4.08 3.648a.734.734 0 0 1-.334.58c-.022.203-.1.396-.266.523-.037.03-1.005.81-1.005 2.23 0 1.526 1.12 2.953 1.132 2.967.02.025.038.05.054.077.025.037 2.364 3.79 5.25 6.748 2.167 2.223 4.09 2.463 4.814 2.463.114 0 .184-.006.203-.01.03-.002.07-.005.1-.005 2.79 0 4.31-1.66 6.068-3.58.186-.203.374-.408.565-.613 1.963-2.11 3.375-4.984 3.39-5.013zm11.716 20.324c-.456-.744-2.465-3.825-5.032-4.803-2.608-.994-7.865-2.212-9.566-2.595l-4.1 2.53 1.057 1.903a.75.75 0 0 1-.134.903l-1.357 1.315 1.39 5.06h17.74v-4.312zM18.83 20.796H6.37c-.414 0-.75-.65-.75-1.063 0-.414.336-.937.75-.937h12.46c.413 0 .75.523.75.937 0 .414-.337 1.063-.75 1.063zM5.62 11.858c0-.414.336-1.062.75-1.062h15.042c.414 0 .75.648.75 1.062 0 .415-.336.938-.75.938H6.37c-.414 0-.75-.523-.75-.938zm13.875 4.938H6.37c-.414 0-.75-.586-.75-1 0-.415.336-1 .75-1h13.125c.414 0 .75.648.75 1.062 0 .414-.336.938-.75.938zm7.5-8.055a.75.75 0 0 1-.75-.75v-.424a.75.75 0 0 0-.75-.75H2.745a.752.752 0 0 0-.75.75V23.94c0 .415.337.876.75.876h15.018c.414 0 .75.773.75 1.188a.75.75 0 0 1-.75.75H2.245c-1.24 0-2.25-1.572-2.25-2.813V7.067c0-1.24 1.01-2.25 2.25-2.25h6.52a6.03 6.03 0 0 1 5.897-4.81 6.03 6.03 0 0 1 5.898 4.81h4.935c1.24 0 2.25 1.01 2.25 2.25v.925a.75.75 0 0 1-.75.75zM14.662 1.506c-2.07 0-3.802 1.408-4.335 3.31h8.67c-.532-1.902-2.264-3.31-4.335-3.31z" class="vcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-9.21 -9.21 77.36 75.17" id="svg-price--services-sobstv"><defs><style>.wcls-1{fill:#e18309;fill-rule:evenodd}</style></defs><path d="M57.683 56.754H12.758a.75.75 0 0 1-.75-.75v-5.456a.75.75 0 0 1 .11-.39c.1-.164 2.484-4.02 5.905-5.23 3.222-1.138 10.042-2.52 10.33-2.578a.746.746 0 0 1 .875.55l2.816 10.682 1.237-4.913-1.41-1.574a.75.75 0 0 1-.12-.827l1.472-3.043a.75.75 0 0 1 .675-.423h3.27a.75.75 0 0 1 .674.423l1.47 3.042a.75.75 0 0 1-.116.826l-1.412 1.573 1.202 4.775 2.22-10.51a.75.75 0 0 1 .883-.585c.29.058 7.11 1.44 10.33 2.578 3.422 1.21 6.307 5.066 6.406 5.23a.75.75 0 0 1 .11.39v5.456c0 .415-.836.75-1.25.75zm-29.73-12.79c-1.847.388-6.895 1.483-9.43 2.38-2.553.9-4.12 3.703-4.6 4.424v3.986h16.88l-2.85-10.79zm8.45 3.996l1.34-1.49-1.048-2.166h-2.327L33.32 46.47l1.34 1.49a.753.753 0 0 1 .17.676l-1.535 6.118h4.472l-1.535-6.118a.753.753 0 0 1 .17-.676zm20.53 2.81c-.48-.723-2.47-3.53-5.015-4.427-2.52-.89-7.52-1.977-9.395-2.37l-2.284 10.78h16.693V50.77zm-10.45-19.93c-.344.674-1.7 3.216-3.557 5.21-.188.203-.372.404-.556.605-1.822 1.99-3.706 4.05-7.13 4.066a3.335 3.335 0 0 1-.347.017c-.916 0-3.323-.285-5.89-2.916-2.88-2.956-5.16-6.545-5.425-6.968-.22-.285-1.434-1.94-1.434-3.87a4.5 4.5 0 0 1 1.268-3.123c-.125-1.66-.3-8.09 4.142-11.53.02-.014.04-.03.062-.042 3.208-2.005 6.153-3.022 8.752-3.022 1.907 0 3.603.542 5.04 1.61 1.488 1.108 3.165 2.692 4.31 6.036 1.047 3.064.547 4.998.274 5.705 0 .02.003.04.002.06l.163.816c.996.384 2.32 1.39 2.32 3.337 0 2.242-1.476 3.6-1.994 4.01zm-2.185-13.442c-1.01-2.95-2.416-4.3-3.785-5.318-2.886-2.147-7.095-1.64-12.07 1.46-2.31 1.808-3.15 4.67-3.433 6.957.84-.993 2.163-1.825 4.198-1.99 1.803-.148 3.264-.174 4.553-.197 1.967-.035 3.52-.062 5.17-.527 1.553-.438 2.947-.3 4.144.41.755.45 1.318 1.074 1.75 1.706a9.742 9.742 0 0 0-.526-2.502zm1.055 7.414a.758.758 0 0 1-.58-.586l-.304-1.528c-.01-.036-.002-.073-.003-.11-.172-.575-.78-2.29-2.166-3.108-.827-.49-1.824-.575-2.964-.254-1.834.518-3.473.547-5.548.584-1.267.022-2.703.048-4.458.19-3.91.32-4.077 3.513-4.082 3.65a.743.743 0 0 1-.333.58c-.022.2-.1.394-.267.52a2.97 2.97 0 0 0-1.004 2.232c0 1.526 1.12 2.953 1.132 2.967.02.023.038.05.054.075.023.038 2.363 3.79 5.25 6.748 2.166 2.223 4.087 2.464 4.813 2.464.114 0 .184-.007.203-.01a.824.824 0 0 1 .1-.006c2.79 0 4.31-1.657 6.068-3.578.186-.203.374-.41.565-.613 1.962-2.11 3.374-4.986 3.388-5.014a.745.745 0 0 1 .258-.296c.058-.04 1.5-1.046 1.5-2.89 0-1.61-1.457-1.98-1.623-2.018zM22.466 13.398h.604a.75.75 0 0 1 0 1.5h-.604a.75.75 0 0 1 0-1.5zm0-2.96h1.883a.75.75 0 0 1 0 1.5h-1.884a.75.75 0 0 1 0-1.5zm4.434.067a.75.75 0 0 1-.75-.75v-.833h-5.334v20.066c0 .006.004.01.004.017a.75.75 0 0 1-.75.75H.75a.75.75 0 0 1-.75-.75V14.773a.75.75 0 0 1 .75-.75H1.83V12.47a.75.75 0 0 1 .75-.75h1.002V9.89a.75.75 0 0 1 .75-.75h2.484V5.92a.75.75 0 0 1 .75-.75h.583V4.34a.75.75 0 0 1 .75-.75h.666V.755a.75.75 0 0 1 .75-.75H12.9a.75.75 0 0 1 .75.75v2.833h.583a.75.75 0 0 1 .75.75v.833h.75a.75.75 0 0 1 .75.75v8.768h2.833V8.17a.75.75 0 0 1 .75-.75h.584V5.09a.75.75 0 0 1 .75-.75h1.75v-2.5a.75.75 0 0 1 1.5 0v2.5h.916a.75.75 0 0 1 .75.75V7.42h.584a.75.75 0 0 1 .75.75v1.585a.75.75 0 0 1-.75.75zM2.274 15.522h-.61v12.733h5.152V15.592H2.58a.735.735 0 0 1-.306-.07zm1.057-1.5h3.486v-.803H3.33v.803zm1.752-3.384v1.05h1.734v-1.05H5.082zm9.9-3.967h-.75a.75.75 0 0 1-.75-.75V5.09H12.9a.75.75 0 0 1-.75-.75V1.505h-1.084v2.833a.75.75 0 0 1-.75.75H9.65v.833a.75.75 0 0 1-.75.75h-.584v2.252h6.667v-2.25zm0 3.752h-6.65v1.746h6.65v-1.746zm0 3.247h-6.65v1.745h6.65V13.67zm0 3.245h-6.65v1.747h6.65v-1.747zm0 3.247h-6.65v1.746h6.65v-1.746zm0 3.246h-6.65v1.747h6.65v-1.747zm0 3.247h-6.65v1.6h6.65v-1.6zm4.334-10.467h-2.833v12.067h2.833V16.188zm5.5-10.35H22.15V7.42h2.666V5.84zm-19.668 20.9H3.266a.75.75 0 0 1 0-1.5h1.882a.75.75 0 0 1 0 1.5zm0-2.96H3.266a.75.75 0 0 1 0-1.5h1.882a.75.75 0 0 1 0 1.5zm0-2.96H3.266a.75.75 0 0 1 0-1.5h1.882a.75.75 0 0 1 0 1.5z" class="wcls-1"/></symbol><symbol preserveAspectRatio="xMidYMid" viewBox="-9.21 -9.21 77.36 75.17" id="svg-price--services-sobstv-white"><defs><style>.xcls-1{fill:#fff;fill-rule:evenodd}</style></defs><path d="M57.683 56.754H12.758a.75.75 0 0 1-.75-.75v-5.456a.75.75 0 0 1 .11-.39c.1-.164 2.484-4.02 5.905-5.23 3.222-1.138 10.042-2.52 10.33-2.578a.746.746 0 0 1 .875.55l2.816 10.682 1.237-4.913-1.41-1.574a.75.75 0 0 1-.12-.827l1.472-3.043a.75.75 0 0 1 .675-.423h3.27a.75.75 0 0 1 .674.423l1.47 3.042a.75.75 0 0 1-.116.826l-1.412 1.573 1.202 4.775 2.22-10.51a.75.75 0 0 1 .883-.585c.29.058 7.11 1.44 10.33 2.578 3.422 1.21 6.307 5.066 6.406 5.23a.75.75 0 0 1 .11.39v5.456c0 .415-.836.75-1.25.75zm-29.73-12.79c-1.847.388-6.895 1.483-9.43 2.38-2.553.9-4.12 3.703-4.6 4.424v3.986h16.88l-2.85-10.79zm8.45 3.996l1.34-1.49-1.048-2.166h-2.327L33.32 46.47l1.34 1.49a.753.753 0 0 1 .17.676l-1.535 6.118h4.472l-1.535-6.118a.753.753 0 0 1 .17-.676zm20.53 2.81c-.48-.723-2.47-3.53-5.015-4.427-2.52-.89-7.52-1.977-9.395-2.37l-2.284 10.78h16.693V50.77zm-10.45-19.93c-.344.674-1.7 3.216-3.557 5.21-.188.203-.372.404-.556.605-1.822 1.99-3.706 4.05-7.13 4.066a3.335 3.335 0 0 1-.347.017c-.916 0-3.323-.285-5.89-2.916-2.88-2.956-5.16-6.545-5.425-6.968-.22-.285-1.434-1.94-1.434-3.87a4.5 4.5 0 0 1 1.268-3.123c-.125-1.66-.3-8.09 4.142-11.53.02-.014.04-.03.062-.042 3.208-2.005 6.153-3.022 8.752-3.022 1.907 0 3.603.542 5.04 1.61 1.488 1.108 3.165 2.692 4.31 6.036 1.047 3.064.547 4.998.274 5.705 0 .02.003.04.002.06l.163.816c.996.384 2.32 1.39 2.32 3.337 0 2.242-1.476 3.6-1.994 4.01zm-2.185-13.442c-1.01-2.95-2.416-4.3-3.785-5.318-2.886-2.147-7.095-1.64-12.07 1.46-2.31 1.808-3.15 4.67-3.433 6.957.84-.993 2.163-1.825 4.198-1.99 1.803-.148 3.264-.174 4.553-.197 1.967-.035 3.52-.062 5.17-.527 1.553-.438 2.947-.3 4.144.41.755.45 1.318 1.074 1.75 1.706a9.742 9.742 0 0 0-.526-2.502zm1.055 7.414a.758.758 0 0 1-.58-.586l-.304-1.528c-.01-.036-.002-.073-.003-.11-.172-.575-.78-2.29-2.166-3.108-.827-.49-1.824-.575-2.964-.254-1.834.518-3.473.547-5.548.584-1.267.022-2.703.048-4.458.19-3.91.32-4.077 3.513-4.082 3.65a.743.743 0 0 1-.333.58c-.022.2-.1.394-.267.52a2.97 2.97 0 0 0-1.004 2.232c0 1.526 1.12 2.953 1.132 2.967.02.023.038.05.054.075.023.038 2.363 3.79 5.25 6.748 2.166 2.223 4.087 2.464 4.813 2.464.114 0 .184-.007.203-.01a.824.824 0 0 1 .1-.006c2.79 0 4.31-1.657 6.068-3.578.186-.203.374-.41.565-.613 1.962-2.11 3.374-4.986 3.388-5.014a.745.745 0 0 1 .258-.296c.058-.04 1.5-1.046 1.5-2.89 0-1.61-1.457-1.98-1.623-2.018zM22.466 13.398h.604a.75.75 0 0 1 0 1.5h-.604a.75.75 0 0 1 0-1.5zm0-2.96h1.883a.75.75 0 0 1 0 1.5h-1.884a.75.75 0 0 1 0-1.5zm4.434.067a.75.75 0 0 1-.75-.75v-.833h-5.334v20.066c0 .006.004.01.004.017a.75.75 0 0 1-.75.75H.75a.75.75 0 0 1-.75-.75V14.773a.75.75 0 0 1 .75-.75H1.83V12.47a.75.75 0 0 1 .75-.75h1.002V9.89a.75.75 0 0 1 .75-.75h2.484V5.92a.75.75 0 0 1 .75-.75h.583V4.34a.75.75 0 0 1 .75-.75h.666V.755a.75.75 0 0 1 .75-.75H12.9a.75.75 0 0 1 .75.75v2.833h.583a.75.75 0 0 1 .75.75v.833h.75a.75.75 0 0 1 .75.75v8.768h2.833V8.17a.75.75 0 0 1 .75-.75h.584V5.09a.75.75 0 0 1 .75-.75h1.75v-2.5a.75.75 0 0 1 1.5 0v2.5h.916a.75.75 0 0 1 .75.75V7.42h.584a.75.75 0 0 1 .75.75v1.585a.75.75 0 0 1-.75.75zM2.274 15.522h-.61v12.733h5.152V15.592H2.58a.735.735 0 0 1-.306-.07zm1.057-1.5h3.486v-.803H3.33v.803zm1.752-3.384v1.05h1.734v-1.05H5.082zm9.9-3.967h-.75a.75.75 0 0 1-.75-.75V5.09H12.9a.75.75 0 0 1-.75-.75V1.505h-1.084v2.833a.75.75 0 0 1-.75.75H9.65v.833a.75.75 0 0 1-.75.75h-.584v2.252h6.667v-2.25zm0 3.752h-6.65v1.746h6.65v-1.746zm0 3.247h-6.65v1.745h6.65V13.67zm0 3.245h-6.65v1.747h6.65v-1.747zm0 3.247h-6.65v1.746h6.65v-1.746zm0 3.246h-6.65v1.747h6.65v-1.747zm0 3.247h-6.65v1.6h6.65v-1.6zm4.334-10.467h-2.833v12.067h2.833V16.188zm5.5-10.35H22.15V7.42h2.666V5.84zm-19.668 20.9H3.266a.75.75 0 0 1 0-1.5h1.882a.75.75 0 0 1 0 1.5zm0-2.96H3.266a.75.75 0 0 1 0-1.5h1.882a.75.75 0 0 1 0 1.5zm0-2.96H3.266a.75.75 0 0 1 0-1.5h1.882a.75.75 0 0 1 0 1.5z" class="xcls-1"/></symbol></svg>

    
mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin header(active_menu)
    div.header
        .top_menu_holder
            .section_inner.clearfix
                ul.top_menu
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-01
                        span Все бизнес  <br> решения
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-02
                        span Генеральному <br> директору
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-03
                        span Фин. директору  <br> Гл. бухгалтеру
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-04
                        span Собственнику  <br>  Иностранным компаниям
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.svg-svg-menu--fna-svg--fixmenu-05
                        span Контактная  <br>  информация

                //-ul.top_menu
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-puzzle
                        span Все бизнес  <br> решения
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-briefcase
                        span Генеральному <br> директору
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-rub
                        span Фин. директору  <br> Гл. бухгалтеру
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-city
                        span Собственнику  <br>  Иностранным компаниям
                    li.top_m_item: a.gl_link(href='#')
                        span.link_icon.icon-map_pin
                        span Контактная  <br>  информация
                    
                //-ul.top_menu
                    li.top_m_item: a.gl_link.icon-puzzle_2(href='#'): span Все бизнес  <br> решения
                    li.top_m_item: a.gl_link.icon-briefcase(href='#'): span Генеральному <br> директору
                    li.top_m_item: a.gl_link.icon-rub(href='#'): span Фин. директору  <br> Гл. бухгалтеру
                    li.top_m_item: a.gl_link.icon-city(href='#'): span Собственнику  <br>  Иностранным компаниям
                    li.top_m_item: a.gl_link.icon-map_pin(href='#'): span Контактная  <br>  информация

mixin link_o_span (is_link, link_href, cls, txt)
    - if (is_link)
        a(class=cls href=link_href)!= txt
            block
    - else
        span(class=cls)!= txt
            block

mixin header_menu(active_menu, index_link)
    .section_inner.clearfix
        .logo_section
            .partner_logo_holder
                //a.logo.icon-wiseadvice-logo(href='#')
                a.logo(href= index_link ? 'index.html' : '#')
                    .logo_icon
            .fl.logo_holder
                .mb
                    +link_o_span(index_link, 'index.html' , 'company_name' , 'ФНА&nbsp;&middot;&nbsp;Аудит')
                    //- if (index_link)
                    //    a.company_name(href='index.html') ФНА&nbsp;&middot;&nbsp;Аудит
                    //- else
                    //    span.company_name ФНА&nbsp;&middot;&nbsp;Аудит
                        
            .fl.mob_hidden
                .mb
                    .company_slogan Профессионально  <br>  для бизнеса
                        
            .fr.mob_hidden
                .mb
                    a.callback_phone.orderOpenBtn(href='#')
                        span.callback_icon
                            span.svg-svg-home--fna-svg--phone-icon
                        span +7 495 134-32-23
    
            .fr.mob_hidden
                .mb
                    a.callback_btn.btn_v1.btn_white.callbackOpenBtn(href='#') Заказать звонок
    
        .nav_holder
            .open_menu_btn.openMenu
            .nav_overlay.closeMenu
            .nav
                .user_menu_holder
                    ul.user_menu
                        li.user_m_item
                            .mb
                                a.lang_link(href='#')
                                    img(src='i/flag_gb.jpg')
                                    span Eng
                            //-.mb: .lang_menu.chosen_v1.no_search
                                select.chosen-select
                                    option.lang_flag.flag_gb(selected) Eng
                                    option.lang_flag.flag_rf Рус
                        li.user_m_item
                            //-.mb: a.user_m_link.icon-facebook(href='#')
                            .mb: a.user_m_link(href='#')
                                span.soc_icon
                                    span.svg-svg-home--fna-svg--facebook-ico
                .main_menu_holder
                    ul.main_menu
                        li.menu_item(class = active_menu == 1 ? 'active' : '')
                            +link_o_span(!(active_menu == 1), 'index.html', 'menu_link', '')
                                //-span.mb.icon-home.home_link
                                span.mb.home_link
                                    span.svg-svg-home--fna-svg--home-ico.home_link_icon.svg-svg-home--fna-svg--home-ico-dims
                                span.mb.dt_hidden Главная
                        li.menu_item(class = active_menu == 2 ? 'active' : '')
                            +link_o_span(!(active_menu == 2), 'company.html', 'menu_link', '')
                                span.mb О компании
                        li.menu_item(class = active_menu == 3 ? 'active' : '')
                            +link_o_span(!(active_menu == 3), 'services.html', 'menu_link', '')
                                span.mb Выбор услуг
                        li.menu_item(class = active_menu == 4 ? 'active' : '')
                            +link_o_span(!(active_menu == 4), 'history.html', 'menu_link', '')
                                span.mb Истории успеха
                        li.menu_item(class = active_menu == 5 ? 'active' : '')
                            +link_o_span(!(active_menu == 5), 'reviews.html', 'menu_link', '')
                                span.mb Отзывы клиентов
                        li.menu_item(class = active_menu == 6 ? 'active' : '')
                            +link_o_span(!(active_menu == 6), 'prices.html', 'menu_link', '')
                                span.mb Цены
                        li.menu_item(class = active_menu == 7 ? 'active' : '')
                            +link_o_span(!(active_menu == 7), 'contacts.html', 'menu_link', '')
                                span.mb Контакты
            

mixin footer()
    .footer